<h1>ダイヤモンド相場価格チャート</h1>
<div class="container">
    <div id="diamonds-chart" class="user_chart">
        <%= high_chart("diamonds-chart", @chart) %>
    </div>
    
    <%= render 'chart_form' %>  

    
</div>