<h1>Diamonds#index</h1>
<div class="container">
   
    <%= render 'diamond_chart' %>  
    
    

    <div>
        <#%= page_entries_info @diamonds %>
    </div>
    <div>
        <#%= paginate @diamonds %>
    </div>
    <div>
      <%=  %>
    </div>
    
     <%= render 'diamond_price_history' %>  
    
     <%= render 'diamond_market' %>  


</div>
