<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Diamond Bourse", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ダイヤモンド相場 & 情報", root_path %></li>
        <li><%= link_to "ダイヤモンド価格チャート", diamonds_chart_path %></li>
      </ul>
    </nav>
  </div>
</header>